body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p{
	color: red;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.love {width: 10%; background-color: #f44336;}
.madness{width: 20%; background-color: #2f4f4f;}
.housing{width: 30%; background-color: #4CAF50;}
